/* Custom styles go here */

* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "DroidBold";
  src: url(../fonts/DroidSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "DroidSans";
  src: url(../fonts/DroidSans.ttf);
  font-weight: normal;
}

/*
m-c - middle center
*/

body {
  margin: 0;
  background-color: white;
  font-family: DroidBold, sans-serif;
}
a {
  text-decoration: none;
}
.main-view::after {
    content: '';
    display: block;
    clear: both;
}

.m-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Top static block*/

.link-b {
  color: #3366cc;
}
.link-g {
  color: #333333;
}
.link-g-l {
  color: #cccccc;
}
.link-g-h {
  color: #333333;
}
.navbar__menu-line {
  width: 100%;
  height: 63px;
  font-weight: bold;
  font-size: 1.5vmax;
}
.navbar__logo {
  width: 10%;
  height: 100%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
}
.navbar__logo-img {
  max-width: 100%;
  height: auto;
}
.navbar__menu {
  width: 84%;
  height: 100%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}
.navbar__menu-item {
  list-style: none;
  box-sizing: border-box;
  height: 100%;
  float: left;
  margin: 0 3%;
}
.navbar__menu-item-right {
  list-style: none;
  height: 100%;
  float: right;
  margin-right: 5%;
  color: #3366cc;
}
.navbar__menu-item-right:visited {
  color: #3366cc;
}

/*Form get email*/

.navbar__form-wrapper {
  width: 100%;
  height: 250px;
  background-image: url(../images/navbar-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.navbar__form {
  width: 440px;
  height: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.navbar__form-title {
  color: white;
  font-size: 36px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar__form-input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  color: #666666;
  margin-bottom: 30px;
}
.navbar__form-submit {
  width: 250px;
  height: 42px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #3366cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*BLOG PAGE*/

.blog-wrapper {
  font-family: DroidBold, sans-serif;
}
.blog__menu-line {
  width: 100%;
  height: 40px;
  background-color: #666666;
}
.blog__menu {
  width: 75%;
  margin-left: 3%;
  height: 100%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
}
.blog__menu-item {
  list-style: none;
  height: 100%;
  float: left;
  margin: 0 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.blog__menu-item-right {
  list-style: none;
  height: 100%;
  float: right;
  margin-right: 5%;
  color: #3366cc;
}
.blog__search-wrapper {
  width: 20%;
  float: left;
  height: 100%;
}
.blog__search {
  width: 100%;
  height: 30px;
  background-color: #f2f6f4;
  border: none;
  border-radius: 5px;
  min-width: 50px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 15%;
  cursor: pointer;
  font-size: 16px;
  color: #666666;
}
.active {
  background-color: white !important;
  text-decoration: underline;

}
.active a {
  color: #3366cc !important;
}
.ace_editor { height: 200px; }
/*Blog main and blog right line*/

.blog__main {
  width: 75%;
  float: left;
}
.blog__rightPanel {
  width: 25%;
  float: left;
  box-sizing: border-box;
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #d2d2d2;
}
.rightPanel-title {
  font-size: 24px;
  color: #3a3434;
  font-weight: bold;
  padding-bottom: 10px;
}
.rightPanel__menu {
  margin-bottom: 30px;
}
.rightPanel__menu-item {
  margin-top: 15px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.activePanel a {
  color: #3366cc !important;
}
.rightPanel-title-little {
  color: #7a7a7a;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.social-button__svg {
  width: 30px;
  margin: 3px;
}
.social-buttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rightPanel__article-block {
  width: 100%;
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rightPanel__article-img-wrapper {
  width: 20%;
  float: left;
}
.rightPanel__article-img {
  max-width: 100%;
  height: auto;
}
.rightPanel__article-text {
  width: 80%;
  float: left;
  box-sizing: border-box;
  padding-left: 5%;
}
.rightPanel__article-tittle {
  font-size: 20px;
  width: 100%;
  text-align: left;
  margin-bottom: 3px;
}
.rightPanel__article-decr {
  font-size: 18px;
  width: 100%;
  text-align: left;
}

/*BLOG body*/

.blog__title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #050505;
  padding-top: 25px;
  padding-bottom: 20px;
}

/*FOOTER*/

.footer {
  background-color: #ccc;
  text-align: center;
  padding: 30px 0 20px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3%;
  box-sizing: border-box;
}
.footer__column_left {
  text-align: left;
  float: left;
}
.footer__column_right {
  text-align: left;
  float: right;
}
.footer__nav {
  display: inline-block;
  vertical-align: top;
}
.footer-nav:first-child {
  margin-right: 90px;
}
.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1em;
}
.footer-nav__item:not(.footer-nav__item_bold) {
  margin-bottom: 3px;
}
.footer-nav__item_bold {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-nav__link {
  color: #545151;
  text-decoration: none;
}
.footer__column_center {
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  color: #545151;
  font-size: 1.1em;
}
.footer__nav_center:first-child {
  margin: 0 0 10px;
}
.footer__icons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-icons__item {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
.social-icons__item:first-child {
  margin: 0;
}
.social-icons__svg {
  width: 40px;
  height: 30px;
}


/************** POLYANA   ***********/

.polyana-container{
  width: 90%;
  margin: 0 auto;
  background-color: #bebdbd;
  box-sizing: border-box;
  padding: 26px;
  font-family: 'DroidSans';
}

.polyana__title{
  font-size: 30px;
  text-align: center;
  color: #FCF8FF;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.project-item{
  width: 100%;
  padding: 30px;
  padding-left: 310px;
  background-color: #efefef;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 310px;
  border-radius: 5px;
}
.polyana__item:not(:last-child){
  margin-bottom: 30px;
}

.project-item__img{
  position: absolute;
  top: 30px;
  left: 30px;
}

.project-item__title{
  margin: 15px 0 20px;
  font-size: 24px;
  color: #333;
}

.project-item__description{
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.project-item__more-link{
  color: #333;
}
.user-projects__item{
  background-color: #faf9f9;
}
.project-item__button{
  display: block;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  padding: 10px 13px;
  border-radius: 3px;
}
.project-item__button_blue{
  background-color: #3263f8;
  color: #fff;
}

.project-item__button_grey{
  background-color: #eee;
  color: #b6b5b5;
}

/************** PROFILE   ***********/
.profile-wrapper{
  width: 100%;
  position: relative;
}
.profile__info{
  width: 290px;
  min-height: calc(100vh - 63px);
  background-color: #d7d7d7;
  position: absolute;
  box-sizing: border-box;
  padding: 60px 20px;
  top: 0;
  left: 0;
}

.user-info__img{
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
}

.user-info__name{
  text-align: center;
  color: #282828;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info__faculty{
  width: 100%;
  color: #333;
  font-size: 18px;
  border: none;
  text-align: center;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: transparent;
  margin-bottom: 10px;
}
.user-info__email{
  font-size: 18px;
  color: #999;
  text-align: center;
}

.profile__user-projects{
  width: 100%;
  min-height: calc(100vh - 63px);
  box-sizing: border-box;
  padding: 30px;
  padding-left: 320px;
  background-color: #efefef;
}

.user-projects__title{
  font-size: 30px;
  color: #797a7b;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/************** WORKING-AREA   ***********/
.project-menu{
  padding-left: 20px;
  background-color: #666;
}

.project-menu__list{
  list-style-type: none;
  overflow: hidden;
}

.project-menu__item{
  float: left;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.project-menu__link{
  display: block;
  padding: 5px 10px;
  color: #ccc;
}

.project-menu__link_active{
  background-color: #EFEFEF;
  color: #333;
}

.project-box{
  width: 100%;
  position: relative;
}

.project-box__project-structure{
  width: 290px;
  min-height: calc(100vh - 63px);
  background-color: #9E9E9E;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 50px;
}

.project-structure__list{
  width: 200px;
  margin: 0 auto;
  list-style-type: none;
}

.project-box__code-area{
  width: 100%;
  min-height: calc(100vh - 63px);
  box-sizing: border-box;
  padding: 0 30px;
  padding-left: 290px;
  background-color: #efefef;
}

.code_area__header{
  background-color: #c2c2c2;
  width: 100%;
  overflow: hidden;
}

.code-area__item{
  display: block;
  float: left;
  padding: 5px 10px;
  color: #666666;
}

.code-area__item_selected{
  background-color: #EFEFEF;
}

.code_area__content{
  width: 100%;
  display: none;
}
.code_area__content_selected{
  display: block;
}
