<div ng-show="loading" style="text-align:center;"><img src="http://penews.org/Content/PENews/Images/loader.gif" style="widht:100px;height:100px; margin:0 auto; margin-top:100px;" alt="Loading"></div>
<div class="cur-pr">
<div ng-hide="loading" class="cur-progect__wrapper">
<div class="cur-progect__header">
	<h1 class="cur-project__title">{{project.title}}</h1>
	<div class="cur-project__status">Active</div>
</div>
<div class="cur-project__about">
	<img ng-src="data:image/jpeg;base64,{{project.imageFile}}" width="400" height="280" alt="" class="cur-project__img">
	<h2 class="cur-project-ab__title pr_title">About</h2>
	<p class="cur-project__info">{{project.description}}</p>
	<h2 class="cur-project-lookf__title pr_title">Looking for</h2>
	<p class="cur-project-lookf__info">{{project.need}}</p>
</div>
<div class="cur-project__team cur-project-team">
	<h2 class="cur-project-team__title pr_title">Team</h2>
	<div class="cur-project-team_item team-member" ng-repeat="teamPlayer in project.users">
		<img ng-src="data:image/jpeg;base64,{{teamPlayer.photoFile}}" width="130" height="130" alt="" class="team-member__img">
		<div class="team-member__name">{{teamPlayer.name}}</div>
	</div>
</div>
<div class="cur-project__tasks cur-tasks">
	<h2 class="cur-tasks__title pr_title">Tasks</h2>
	<div class="cur-tasks__item task-item" ng-repeat="task in project.tasks">
		<div class="task-item__container">
			<div class="task-item__title">{{task.name}}</div>
			<p>{{task.description}}</p>
			<a href="#" class="task-item__button">Apply</a>
		</div>
	</div>
</div>
<div class="cur-project__comment-block com-block">
	<input type="text" class="com-block__input" placeholder="Write your comment">
	<a class="com-block__add-button" href="#">Add comment</a>
	<div class="com-block__comments proj-comments" ng-repeat="comment in project.comments">
		<div class="proj-comments__item">
			<img ng-src="data:image/jpeg;base64,{{comment.author.photoFile}}" width="70" height="70" alt="">
			<p>{{comment.text}}</p>
		</div>
	</div>
</div>
</div>
</div>
