	<div class="polyana-container">
		<h1 class="polyana__title">Choose project which do you like improve</h1>
		<div class="polyana__item project-item" ng-repeat="project in projects">
			<img ng-src="data:image/jpeg;base64,{{project.imageFile}}"  alt="" width="250" height="250" class="project-item__img">
			<h2 class="project-item__title">{{project.title}}</h2>
			<p class="project-item__description">{{project.description}}<a class="project-item__more-link" ng-href="#/project/{{project.id}}">...Read more</a></p>
			<a ng-href="#/project/{{project.id}}" class="project-item__button project-item__button_blue">Choose project</a>
		</div>
	</div>
