	<div class="polyana-container">
		<h1 class="polyana__title">Choose project which do you like improve</h1>
		<div class="polyana__item project-item">
			<img src="http://lorempixel.com/200/200" alt="" width="250" height="250" class="project-item__img">
			<h2 class="project-item__title">This is project title</h2>
			<p class="project-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia, atque suscipit laudantium, consequuntur molestiae nisi eveniet repellendus illum quaerat odit. Saepe quos, quibusdam officia natus quia pariatur culpa, minus <a class="project-item__more-link" href="#">...Read more</a></p>
			<a ui-sref="getProject/1" class="project-item__choose-button">Choose project</a>
		</div>
		<div class="polyana__item project-item">
			<img src="http://lorempixel.com/200/200" alt="" width="250" height="250" class="project-item__img">
			<h2 class="project-item__title">This is project title</h2>
			<p class="project-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia, atque suscipit laudantium, consequuntur molestiae nisi eveniet repellendus illum quaerat odit. Saepe quos, quibusdam officia natus quia pariatur culpa, minus <a class="project-item__more-link" href="#">...Read more</a></p>
			<a href="#" class="project-item__choose-button">Choose project</a>
		</div>
	</div>
