<div class="profile-wrapper">
  <div class="profile__info user-info">
    <img src="http://lorempixel.com/160/160" alt="" width="160" height="160" class="user-info__img">
    <h2 class="user-info__name">Alex Budko</h2>
    <input type="text" class="user-info__faculty" value="TEF TR-42" disabled>
    <div class="user-info__email">alexdima@kpicoop.com</div>
  </div>
  <div class="profile__user-projects user-projects">
    <h1 class="user-page__title">Alex Guminsky</h1>
    <div class="user-work">Front-end developer</div>
    <h2 class="user-descr__title">About me</h2>
    <p class="user-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ratione, perspiciatis non repellendus minima quos quidem sit aut voluptates consequatur eaque, blanditiis dolore. Natus adipisci quis a iusto ducimus. Enim.</p>
    <h2 class="user-projects__title">My projects</h2>
    <div class="user-projects__item project-item">
      <img src="http://lorempixel.com/200/200" alt="" width="250" height="250" class="project-item__img">
      <h2 class="project-item__title">This is project title</h2>
      <p class="project-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia, atque suscipit laudantium, consequuntur molestiae nisi eveniet repellendus illum quaerat odit. Saepe quos, quibusdam officia natus quia pariatur culpa, minus <a class="project-item__more-link" href="#">...Read more</a></p>
      <a href="#" class="project-items__button project-item__button_blue">Open project</a>
      <a href="#" class="project-items__button project-item__button_grey">Send your code</a>
    </div>
  </div>
</div>
