<div class="navbar">
  <div class="navbar__menu-line">
    <div class="navbar__logo m-c">
      <a href="http://itkoya.com/"><img src="images/logo.png" alt="ITkoya logo" class="navbar__logo-img"></a>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu-item m-c">
        <a ui-sref="blog.it-news" class="link-g">Blog</a>
      </li>
      <li class="navbar__menu-item m-c">
        <a ui-sref="help" class="link-g">Help center</a>
      </li>
      <li class="navbar__menu-item-right m-c">
        <a href="http://itkoya.com/" class="link-b" target="_blank">to ITkoya.com</a>
      </li>
    </ul>
  </div>
  <div class="navbar__form-wrapper">
    <form action="" class="navbar__form">
      <h2 class="navbar__form-title">All  news in your mail</h2>
      <input type="email" name="name" value="" placeholder="Email" class="navbar__form-input" required>
      <button type="submit" name="button" class="navbar__form-submit">Get news</button>
    </form>
  </div>
</div>
