<div class="navbar">
  <div class="navbar__menu-line">
    <div class="navbar__logo m-c">
      <a ui-sref="polyana"><img src="images/kpi coop white logo.png" alt="ITkoya logo" class="navbar__logo-img"></a>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu-item m-c" ui-sref-active="active">
        <a ui-sref="polyana" class="link-w">Polyana</a>
      </li>
      <li class="navbar__menu-item m-c" ui-sref-active="active">
        <a ui-sref="profile" class="link-w">Profile</a>
      </li>
      <li class="navbar__menu-item m-c" ui-sref-active="active">
        <a ui-sref="create" class="link-w">Create project</a>
      </li>
    </ul>
  </div>
</div>
